@charset "UTF-8";

nav{
    background-color: var(--lilas_escuro);
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

ul{
    list-style: none;
}

li{
    display: inline;
    padding: 10px;
    font-size: 1.5em;/*celular*/

}

.item{
    color: white;
    text-decoration: none;
    font-family: var(--fonte_menu);
}

.item:hover{
    color: var(--lilas_claro);
}