@charset "UTF-8";

.page{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    font-size: 0.9em;
    width: 200px;
    margin-top: 20px;
    font-family: var(--fonte_texto);
}

@media screen and (min-width:992px) {
    p{
        width: 400px;
        font-size: 1.2em;
    }
}