@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Kode+Mono:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
}


:root{
  --lilas_claro: #9177AC;
  --lilas_medio: #6E4D8F;
  --lilas_escuro: #351456;

  --fonte_menu: "Handjet", sans-serif;
  --fonte_titulo: "Kode Mono", monospace;
  --fonte_texto: "Noto Sans", sans-serif;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.perfil{
  border-radius: 50%;
  margin: 10px;
  width: 150px;
}

main{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, var(--lilas_medio), var(--lilas_claro));
}

section{
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  height: 450px;
  width: 85vw;
  border-radius: 30px;
}

h1{
  font-family: var(--fonte_titulo);
  color: var(--lilas_escuro);
}

@media screen and (min-width: 375px) and (max-width: 1024px){
    .perfil{
      width: 200px;
    }

    section{
      height: 500px;
      transform: translate(-50%, -75%);
    }
}